/* De fonts die worden gebruikt */
@font-face {
    font-family: BigShoulder;
    src: url(../fonts/BigShouldersDisplay-Regular.ttf);
}

@font-face {
    font-family: BigShoulderBold;
    src: url(../fonts/BigShouldersDisplay-SemiBold.ttf);
}

html, * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 692px;
    width: 776px;
    margin: 0 auto;
}

#popup::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    min-height: 692px;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
}

#popupcontent {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 5px;
}

@media only screen and (max-width: 1139px) {
    #popupcontent {
      width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    #popupcontent {
        width: 90%;
    }
}

#popupcontent h1,
#popupcontent h2 {
    font-family: BigShoulderBold, sans-serif;
    margin-bottom: 5px;
}

#popupcontent p,
#popupcontent li {
    font-family: BigShoulder, sans-serif;
}

#popupcontent p {
    margin-bottom: 30px;
}

#popupcontent ul {
    padding: 0 0 30px 30px;
}

#popupcontent #button {
    background-color: #2aadad;
    color: #fff;
    border: none;
    padding: 5px 25px;
    border-radius: 50px;
    font-family: BigShoulderBold, sans-serif;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    transition: box-shadow 300ms ease-in;
}

#popupcontent #button:hover {
    box-shadow: 1px 1px 15px rgba(0,0,0,0.3);
    outline: 0px;
}

#popupcontent #kleinetekst {
    margin: 15px 0 0;
    font-size: 13px;
}

.popupsluiten {
    display: none;
}

main {
    position: relative;
    height: 692px;
    width: 776px;
    margin: 0 auto;
}

#bg {
    background-image: url(../img/kledingkast/kast.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
}

#koffie_btn, #werken_btn {
    position: absolute;
    right: 55px;
    top: 20px;
    background-color: #fff;
    color: #2aadad;
    border: none;
    padding: 5px 25px;
    border-radius: 50px;
    font-family: BigShoulderBold, sans-serif;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    transition: box-shadow 300ms ease-in;
}

#werken_btn {
    right: 50px;
    top: 60px;
}

#koffie_btn:hover, #koffie_btn:focus, #werken_btn:hover, #werken_btn:focus {
    box-shadow: 1px 1px 15px rgba(0,0,0,0.3);
    outline: 0px;
}

/* De kleding in de kast */
#gele_jurk, #pyjama_top, #witte_top, #donkerblauwe_broek {
    width: 52px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

#gele_jurk {
    top: 245px;
    left: 106px;
}

#pyjama_top {
    top: 259px;
    left: 106px;
}

#witte_top {
    top: 259px;
    left: 54px;
}

#pyjama_broek {
    width: 106px;
    position: absolute;
    top: 286px;
    left: 54px;
    cursor: pointer;
}

#donkerblauwe_broek {
    top: 383px;
    left: 107px;
}

#zwarte_top {
    width: 110px;
    position: absolute;
    top: 278px;
    left: 191px; 
    cursor: pointer;
}

#lichtblauwe_broek {
    width: 100px;
    position: absolute;
    top: 287px;
    left: 280px;
    z-index: 1;
    cursor: pointer;
}

#paarse_jurk {
    width: 65px;
    position: absolute;
    top: 279px;
    left: 369px;
    cursor: pointer;
}

#hemdje {
    width: 60px;
    position: absolute;
    top: 279px;
    right: 273px;
    cursor: pointer;
}

#schoenen {
    width: 130px;
    position: absolute;
    bottom: 57px;
    left: 240px;
    cursor: pointer;
}

/* Het persoon */
#gezicht {
    height: 114px;
    position: absolute;
    top: 99px;
    right: 59px;
}

#lichaam {
    height: 455px;
    position: absolute;
    bottom: 36px;
    right: 40px;
}

#arm {
    height: 150px;
    position: absolute;
    top: 280px;
    right: 155px;
}

.koffiearm {
    height: 90px!important;
    top: 232px!important;
    right: 70px!important;
    z-index: 1;
}

/* De kleding aan */
#top_aan {
    width: 123px;
    position: absolute;
    right: 57px;
    top: 210px;
}

#top_aan.gelejurkaan {
    content: url('../img/persoon/jurk_geel.png'); 
    width: 118px!important;
    top: 201px!important;
    right: 59px!important;
}

#top_aan.zwartetopaan {
    content: url('../img/persoon/top_zwart.png');
    right: 58px!important;
}

#top_aan.wittetopaan {
    content: url('../img/persoon/top_wit.png'); 
}

#top_aan.pyjamatopaan {
    content: url('../img/persoon/top_pyjama.png'); 
}

#top_aan.paarsejurkaan {
    content: url('../img/persoon/jurk_paars.png');
    width: 110px!important;
    right: 64px!important;
    top: 210px!important;
}

#top_aan.hemdjeaan {
    content: url('../img/persoon/hemdje.png');
    width: 65px!important;
    right: 86px!important;
    top: 210px!important;
}

#broek_aan {
    width: 100px;
    position: absolute;
    right: 69px;
    bottom: 68px;
}

.lichtebroekaan, .donkerebroekaan {
    bottom: 71px!important;
    height: 323px;
    z-index: 1;
}

#broek_aan.donkerebroekaan {
    content: url('../img/persoon/broek_donker_blauw.png');
}

#broek_aan.lichtebroekaan {
    content: url('../img/persoon/broek_licht_blauw.png');
}

#broek_aan.pyjamabroekaan {
    content: url('../img/persoon/broek_pyjama.png');
}

#schoenen_uit {
    width: 159px;
    position: absolute;
    bottom: 36px;
    right: 39px; 
    display: none;
}

/* Het kantoor */
#raam {
    width: 300px;
    position: absolute;
    top: 50px;
    left: 350px;
}

#buiten {
    width: 300px;
    height: 270px;
    position: absolute;
    top: 66px;
    left: 350px;
}

#phone {
    width: 32px;
    position: absolute;
    top: 435px;
    left: 241px;
}

.ring {
    animation-name: ringtoon;
    animation-duration: 6s;
}

@keyframes ringtoon {
    0%   {
        transform: rotate(0deg);
        top: 435px;
    }
    5%   {
        transform: rotate(5deg);
        top: 434px;
    }
    10%  {
        transform: rotate(-5deg);
    }
    15%  {
        transform: rotate(5deg);
    }
    20%  {
        transform: rotate(-5deg);
    }
    25%  {
        transform: rotate(5deg);
    }
    30%  {
        transform: rotate(-5deg);
    }
    35%  {
        transform: rotate(5deg);
    }
    40%  {
        transform: rotate(-5deg);
    }
    45%  {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    55%   {
        transform: rotate(5deg);
    }
    60%  {
        transform: rotate(-5deg);
    }
    65%  {
        transform: rotate(5deg);
    }
    70%  {
        transform: rotate(-5deg);
    }
    75%  {
        transform: rotate(5deg);
    }
    80%  {
        transform: rotate(-5deg);
    }
    85%  {
        transform: rotate(5deg);
    }
    90%  {
        transform: rotate(-5deg);
    }
    95%  {
        transform: rotate(5deg);
        top: 434px;
    }
    100% {
        transform: rotate(0deg);
        top: 435px;
    }
}

#computer {
    width: 180px;
    position: absolute;
    top: 311px;
    left: 277px;
}

#scherm {
    width: 172px;
    height: 102px;
    position: absolute;
    top: 315px;
    left: 281px;
    cursor: pointer;
}